.header-container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumb-divider {
  margin: 0 0.5rem;
}

.breadcrumb-text {
  color: #6b7280;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative; 
}

.search-input {
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-left: 2.5rem; 
  width: 300px; 
  position: relative; 
}

.search-icon {
  position: absolute;
  left: 0.75rem; 
  top: 50%; 
  transform: translateY(-50%); 
  color: #6b7280; 
}

.search-button {
  margin-left: 0.5rem;
  padding: 0.5rem;
  background-color: #3b82f6;
  color: white;
  border-radius: 0.5rem;
}
